@use "../abstracts/index" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
}

li {
    list-style: none;
}

// MAYBE A MIXIN BELOW??

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

