@use "../abstracts/index" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
}

body {
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

button {
    border: none;
    background: none;
}

textarea {
    border: none;
}