@use "../abstracts/index" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

button {
    border: none;
    background: none;
}

textarea {
    border: none;
}

dialog {
    border: none;
    margin: auto;
    overflow: hidden;

    &::backdrop {
        background-image: linear-gradient(
            360deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.8)
          );
    }
}