@use "../global/" as *;
@use "../abstracts/" as *;
@use "../components/" as *;

.main-wrapper {
  width: 65vw;
  height: 100vh;
  padding: 10rem 5rem 5rem 7rem;
  @include flexCenter(column);

  @media (orientation: portrait) and (max-width: $iPadPro-portrait) {
    height: 130vh;
    padding: 15rem 5rem 5rem;
  }

  @media (orientation: portrait) and (max-width: $iPad-portrait) {
    height: 145vh;
    padding: 15rem 5rem 5rem;
  }

  @media (orientation: landscape) and (max-width: $iPad-landscape) {
    height: 220vh;
    padding: 8rem 5rem 5rem;
  }

  .main-menu {
    flex: 1;
    @include flexCenter(column);

    .main-menu-header {
      @include flexCenter(column);
      flex: 1;

      h3 {
        @include regularCenter;
      }
    }

    .main-menu-body {
      @include flexCenter(column);
      flex: 1;

      .main-menu-list {
        @include gridColumn04(3rem);

        @media (orientation: portrait) {
          @include gridColumn02(3rem);
        }

        @media (width: $iPad-landscape) {
          @include gridColumn02(3rem);
        }

        .main-menu-list-item {
          @include flexCenter(column);
          outline: $red01 solid 0.2rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: $red08;
          }

          a {
            @include flexCenter(column);
            padding: 3rem;

            figure {
              @include flexCenter(column);
              height: 9rem;
              padding-bottom: 2rem;

              @media (orientation: portrait) {
                height: 15rem;
              }
              @media (width: $iPad-landscape) {
                min-height: 18rem;
              }
            }

            h6 {
              color: $black;
              @include semiBoldCenter;
            }
          }
        }
      }
    }

    .main-menu-footer {
      @include flexCenter(column);
      flex: 1;

      @media (orientation: portrait) {
        padding-top: 3rem;
      }
    }
  }
}

// UTILITY CLASSES TO TWEAK IMAGERY

.image-smaller01 {
  height: 90%;
}

.image-smaller02 {
  height: 85%;
}
