@use "../global/" as *;
@use "../abstracts/" as *;
@use "../components/" as *;

.order-confirmation-wrapper {

  .order-confirmation {
    height: 100vh;
    @include flexCenter(column);
    gap: 2rem;
    padding: 15rem 7rem 5rem;


    .order-confirmation-header {
      @include flexCenter(column);
      gap: 1rem;
      flex: 1;

      p {
        @media (orientation: portrait) and (min-width: $iPadPro-portrait) {
          font-size: 2rem;
          line-height: 2.4rem;
          padding-bottom: 2rem;
        }
      }

      h2 {
        @include regularCenter;

        @media (orientation: portrait) and (min-width: $iPadPro-portrait) {
          font-size: 4.8rem;
          line-height: 5.6rem;
        }
      }

      p {
        font-weight: 600;
      }
    }

    .order-confirmation-body {
      width: 90vw;
      gap: 7.5rem;
      @include flexCenter(column);

      @media (orientation: portrait) and (min-width: $iPadPro-portrait) {
        width: 60vw;
      }
    
      figure {
        @media (orientation: landscape) and (max-width: $iPad-landscape) {
          width: 70vw;
          padding-bottom: 3rem;
        }

      }

      .order-confirmation-text {
        @include flexCenter(column);
        flex: 1;
        gap: 2rem;
        
        @media (orientation: portrait) and (min-width: $iPadPro-portrait) {
          gap: 5rem;
          padding-bottom: 5rem;
        }

        @media (orientation: landscape) and (max-width: $iPad-landscape) {
          width: 70vw;
        }

        p {
          @include regularCenter;

          @media (orientation: portrait) and (min-width: $iPadPro-portrait) {
            font-size: 2rem;
            line-height: 2.4rem;
          }
        }

        span {
          font-weight: 600;
          @media (orientation: portrait) and (min-width: $iPadPro-portrait) {
            font-size: 2rem;
            line-height: 2.4rem;
          }
        }
      }
    }

    .order-confirmation-footer {
      @include flexCenter(column);
      gap: 3rem;
      flex: 1;

      .order-confirmation-btn-wrapper {
        @include flexCenter(row);
        gap: 2rem;
      }
      p::before {
        content: url("../img/refresh-outline.svg");
        padding-right: 0.8rem;
      }
    }
  }
}
