@use "../global/" as *;
@use "../abstracts/" as *;
@use "../components/" as *;

.review-order-wrapper {

  .review-order {
    height: 100vh;
    @include flexCenter(column);
    padding: 15rem 7rem 5rem;


    .review-order-header {
      @include flexCenter(column);
      flex: 1;
      padding-bottom: 3rem;

      h3 {
        @include regularCenter;
      }
    }

    .review-order-body {
      width: 75vw;
      @include flexCenter(column);
      flex: 1;

      .order-summary-wrapper {
        @include gridColumn02(0);
        background-color: $white;
        outline: $red01 solid 0.1rem;

        .order-summary-left-col {
          grid-column: span 1;
          @include flexCenter(column);
        }

        .order-summary-right-col {
          grid-column: span 1;
          @include flexCenter(column);
          border-left: $red01 solid 0.1rem;

          .order-summary-header {
            width: 100%;
            @include flexCenter(column);
            gap: 0.8rem;
            flex: 1;
            border-bottom: $red01 solid 0.1rem;
            padding: 2rem;
          }

          .order-summary-body {
            width: 100%;
            @include flexCenter(column);
            gap: 1rem;
            flex: 1;
            padding: 3rem 2rem 1rem 2rem;

            p {
              font-weight: 600;
            }
          }

          .order-summary-footer {
            width: 85%;
            @include flexCenter(column);
            gap: 3rem;
            flex: 1;
            padding: 2rem 2rem 4rem;

            .additional-feedback {
              width: 100%;

              textarea {
                width: 100%;
                height: 15rem;
                border: $grey04 solid 0.1rem;
  
                &::placeholder {
                  font-size: 1.6rem;
                  font-weight: 200;
                  line-height: 2.4rem;
                  padding: 2rem;
                }
              }

            }

            .order-summary-btn-wrapper {
              width: 100%;
              @include flex(space-between, row);
            }
          }
        }
      }
    }

    .review-order-footer {
      flex: 1;
      @include flexCenter(column);
      padding: 3rem 7rem;
    }
  }
}


// UTILITY CLASS FOR TOP LIST ITEM

.top-border {
  border-top: $red01 solid 0.1rem;
}