@use "../global/" as *;
@use "../abstracts/" as *;
@use "../components/" as *;

// INTRO SECTION

.yakitori-intro-wrapper {
  width: 65vw;
  @include flexCenter(column);

  .yakitori-intro {
    @include flexCenter(column);
    gap: 5rem;
    padding: 15rem 5rem 7rem 7rem;
    border-bottom: $red01 solid 0.1rem;


  @media (orientation: portrait) {
    padding: 18rem 5rem 7rem 5rem;
  }

    .yakitori-intro-header {
      h3 {
        @include regularCenter;
      }
    }

    .yakitori-intro-body {
      @include flexCenter(column);
      gap: 1.6rem;

      p {
        @include regularCenter;
      }

      p:last-of-type {
        font-weight: 600;
      }
    }

    .yakitori-intro-footer {
      width: 100%;
      flex: 1;
      @include flexCenter(column);
      gap: 2rem;

      .yakitori-menu-list {
        width: 100%;
        flex: 1;
        @include flexCenter(row);
        gap: 3rem;
      }
    }
  }
}

// YAKITORI SECTIONS

.yakitori-wrapper {
  width: 65vw;
  padding: 7rem 5rem 7rem 7rem;
  border-bottom: $red01 solid 0.1rem;

  @media (orientation: portrait) {
    padding: 7rem;
  }


  .yakitori-section {
    @include flexCenter(column);
    gap: 5rem;
    
    .yakitori-header {
      @include flexCenter(column);

      h4 {
        @include regularCenter;
      }
    }
    .yakitori-body {
      @include gridColumn02(4rem);

      @media (orientation: portrait) {
        @include gridColumn01(4rem);
      }
    }

    .yakitori-footer {
      @include flexCenter(column);
    }
  }
}


// YAKITORI PAGE FOOTER

.yakitori-page-footer {
  width: 65vw;
  @include flexCenter(column);
  padding: 7rem 5rem 7rem;

  p{
    @include regularCenter;
  }
}


