@use "../global/" as *;
@use "../abstracts/" as *;
@use "../components/" as *;

.allergy-footer {
    @include flexCenter(column);
    gap: 2rem;
    @include regularCenter;

    p:first-of-type {
        font-weight: 600;
      }
}
