@use "../global/" as *;
@use "../abstracts/" as *;

// MENU ITEM CARD

.menu-card {
    @include gridColumn02(0);
    outline: $red01 solid 0.2rem;

  
    .menu-card-img-wrapper {
      @include flexCenter(column);
      
      figure {
        height: 100%;
        width: 100%;
      }
    }
  
    .menu-card-text-wrapper {
      @include flexCenter(column);
      gap: 2rem;
      padding: 2.5rem;
  
      header {
        margin-left: auto;
        flex: 1;

        img {
          @media (orientation: portrait) {
            width: 2.5rem;
            height: 2.5rem;
          }

          @media (orientation: landscape) and (max-width: $iPad-landscape) {
            width: 2rem;
            height: 2rem;
          }
        }
      }
  
      main {
        flex: 1;
        @include flexCenter(column);
  
        p {
          @include regularCenter;
  
          span {
            font-weight: 600;
          }
        }
      }

      footer {
        flex: 1;
      }
    }
  }
  