@use "../global/" as *;
@use "../abstracts/" as *;

// PAYMENT MODAL

.payment-modal {
    outline: $red01 solid 0.3rem;
    background-color: $white;
}

.payment-modal-wrapper {
  @include flexCenter(column);
  gap: 5rem;
  width: 70vw;
  padding: 7rem 7rem 10rem;

  .close-modal {
    margin-left: auto;
  }

  .payment-modal-header {
    flex: 1;
    @include flexCenter(column);

    h5 {
      @include semiBoldCenter;
    }
  }

  .payment-modal-body {
    width: 100%;
    flex: 1;
    @include gridColumn03(5rem);

    .payment-method {
      @include flexCenter(column);
      outline: $red01 solid 0.2rem;
      padding: 3rem;

      &:first-of-type {
        background-color: $red08;
      }

      .payment-method-wrapper {
        @include flexCenter(column);
        flex: 1;
        gap: 2rem;

        p {
          flex: 1;
          text-align: center;
        }
      }
    }
  }

  .payment-modal-footer {
    width: 100%;
    flex: 1;
    @include gridColumn02(5rem);

    .payment-modal-footer-left {
      @include flexCenter(column);
      gap: 2rem;

      h5 {
        width: 100%;
        justify-self: flex-start;
      }

      .payment-modal-footer-left-text {
        @include flexCenter(column);
        gap: 1rem;
        width: 100%;
        flex: 1;
        @include semiBoldCenter;
        border: $red01 solid 0.2rem;
      }
    }

    .payment-modal-footer-right {
      @include flexCenter(column);
      gap: 2rem;

      h5 {
        width: 100%;
        justify-self: flex-start;
      }

      .payment-modal-footer-right-form {
        flex: 1;
        width: 100%;
        @include flexCenter(column);

        form {
          width: 100%;
          @include gridColumn03(2rem);

          .input-wrapper {
            width: 100%;
            border: $grey02 solid 0.1rem;
            @include flex(flex-start, row);
            position: relative;

            img {
              position: absolute;
              right: 1rem;
              width: 2rem;
              height: 2rem;
            }

            input {
              height: 4.5rem;
              flex: 1;
              border: none;

              &::placeholder {
                font-size: 1.6rem;
                font-weight: 200;
                line-height: 2.4rem;
                padding: 1rem;
              }
            }
          }

          input:nth-of-type(5) {
            justify-self: left;
          }

          .checkbox-wrapper {
            @include flex(flex-start, row);

            label {
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }
}

.col-span-3 {
  grid-column: span 3;
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-1 {
  grid-column: span 1;
}

// FOOD ITEM MODAL

.menu-item-modal-wrapper {
  @include gridColumn02(0);

  .menu-item-modal-left {
    @include flexCenter(column);

    figure {
      width: 100%;
      height: 100%;
    }
  }

  .menu-item-modal-right {
    @include flexCenter(column);
    padding: 9rem 5rem 5rem;
    position: relative;


    button {
        position: absolute;
        top: 3rem;
        right: 3rem;
      }

    .menu-item-modal-right-wrapper {
      @include flexCenter(column);
      flex: 1;

      .menu-item-modal-header {
        width: 100%;
        flex: 1;
        @include flexCenter(column);
        gap: 2rem;

        h6 {
          @include semiBoldCenter;
        }

        h3 {
          @include regularCenter;
        }
      }
      .menu-item-modal-body {
        @include flexCenter(column);
        gap: 2rem;
        flex: 1;
        width: 100%;

        h5 {
          @include regularCenter;
        }

        p {
          @include semiBoldCenter;
        }
      }

      .menu-item-modal-footer {
        width: 100%;
        flex: 1;
        @include flex(space-evenly, row);

        figure {
          @include flexCenter(column);
          gap: 1rem;

          figcaption {
            color: $black;
          }
        }
      }
    }
  }
}
