@use "../abstracts/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');

// GLOBAL STYLING

* {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

// HEADINGS


h1 {
    font-size: 4.8rem;
    line-height: 5.6rem;
}

h2 {
    font-size: 3.9rem;
    line-height: 4.8rem;
}

h3 {
    font-size: 3.1rem;
    line-height: 4rem;
}

h4 {
    font-size: 2.5rem;
    line-height: 3.2rem;
}

h5 {
    font-size: 2rem;
    line-height: 2.4rem;
}

h6 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}



// PARAGRAPH AND SUBTITLES


p,
a,
span {
    font-size: 1.4rem;
    line-height: 2rem;
}

a {
    color: $white;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

figcaption {
    font-size: 1.44rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: $white;
    font-weight: 400;
    text-align: center;
}

.regular-subtitle01 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
}

.semibold-subtitle01 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
}

.regular-subtitle02 {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.semibold-subtitle02 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 600;
}


// ICONS

i {
    font-size: 1.2rem;
}



// FONT WEIGHT UTILITY CLASSES


.upper-case {
    text-transform: uppercase;
}

.caps {
    text-transform: capitalize;
}





// PREVIOUS TYPE SETTINGS

// HEADINGS

// h1 {
//     font-size: 6.1rem;
//     line-height: 7.2rem;
//     margin: 0;
// }

// h2 {
//     font-size: 4.8rem;
//     line-height: 5.6rem;
// }

// h3 {
//     font-size: 3.9rem;
//     line-height: 4.8rem;
// }

// h4 {
//     font-size: 3.1rem;
//     line-height: 4rem;
// }

// h5 {
//     font-size: 2.5rem;
//     line-height: 3.2rem;
// }

// h6 {
//     font-size: 2rem;
//     line-height: 2.4rem;
// }


// PARAGRAPH


// p,
// a,
// span {
//     font-size: 1.6rem;
//     line-height: 2.4rem;
// }

// a {
//     color: $white;
//     text-transform: uppercase;
// }

// figcaption {
//     font-size: 1.44rem;
//     line-height: 2rem;
//     text-transform: uppercase;
//     color: $white;
//     font-weight: 400;
//     text-align: center;
// }

// .regular-subtitle01 {
//     font-size: 1.4rem;
//     line-height: 2rem;
//     font-weight: 400;
// }

// .semibold-subtitle01 {
//     font-size: 1.4rem;
//     line-height: 2rem;
//     font-weight: 600;
// }

// .regular-subtitle02 {
//     font-size: 1.2rem;
//     line-height: 1.6rem;
//     font-weight: 400;
// }

// .semibold-subtitle02 {
//     font-size: 1.2rem;
//     line-height: 1.6rem;
//     font-weight: 600;
// }