// COLORS

$red01: #DB4F2D;
$red02: #DD5A3B;
$red03: #E37155;
$red04: #EC866D;
$red05: #ED957F;
$red06: #EEAC9D;
$red07: #FBC7BA;
$red08: #FFDED7;

$black: #000000;
$grey01: #302F2F;
$grey02: #4E4B4B;
$grey03: #747474;
$grey04: #999696;
$grey05: #C0C0C0;
$grey06: #DEDCDC;
$white: #FDFDFD;

